<div class="header-wrap">
  <div class="lines -yellow" aria-hidden="true">
    {%- for i in 1..3 %}<i></i>{% endfor -%}
  </div>
  <h3 class="divot">Focus Areas</h3>
  <h2>reshaping the landscape + anticipating the future</h2>
</div>

<div class="focus-area -one">
  <div class="image-wrap">
    <div class="lines -one -yellow -large show-for-medium-up" aria-hidden="true">
      {%- for i in 1..7 %}<i></i>{% endfor -%}
    </div>

    <div class="staggered-image -reveal">
      <picture>
        <source media="(max-width: 750px)" srcset="/user/images/cgre-mob-movement-building.jpg">
        <img src="/user/images/cgre-movement-building.jpg" alt="African American woman in front of whiteboard">
      </picture>
    </div>
  </div>

  <div class="body-wrap">
    <div class="headers">
      <h3>01</h3>
      <h2>{{ header.focus_one_headline }}</h2>
    </div>

    <p>
      {{ header.focus_one_body }}
    </p>
  </div>
</div>

<div class="focus-area -two">

  <div class="image-wrap">
    <div class="lines -lightgray" aria-hidden="true">
      {%- for i in 1..19 %}<i></i>{% endfor -%}
    </div>
    <div class="staggered-image -reveal">
      <picture>
        <source media="(max-width: 750px)" srcset="/user/images/cgre-mob-access.jpg">
        <img src="/user/images/cgre-access.jpg" alt="Finger pressing on birth control pill packet">
      </picture>
    </div>
  </div>

  <div class="body-wrap">
    <div class="headers">
      <h3>02</h3>
      <h2>{{ header.focus_two_headline }}</h2>
    </div>

    <p>
      {{ header.focus_two_body }}
    </p>
  </div>

</div>

<div class="focus-area -three">
  <div class="image-wrap">
    <div class="staggered-image -reveal">
      <picture>
        <source media="(max-width: 750px)" srcset="/user/images/cgre-mob-legal.jpg">
        <img src="/user/images/cgre-legal.jpg" alt="Group of people at steps of US Capitol Building">
      </picture>
    </div>
    <div class="lines -large -yellow" aria-hidden="true">
      {%- for i in 1..7 %}<i></i>{% endfor -%}
    </div>
  </div>

  <div class="body-wrap">
    <div class="headers">
      <h3>03</h3>
      <h2 class="h1">{{ header.focus_three_headline }}</h2>
    </div>

    <p>
      {{ header.focus_three_body }}
    </p>
  </div>
</div>
