<div class="header-wrap">
  <div class="lines -one -yellow" aria-hidden="true">
    {%- for i in 1..7 %}<i></i>{% endfor -%}
  </div>

  <h3 class="divot">Leadership</h3>

  <div class="lines -two -yellow" aria-hidden="true">
    {%- for i in 1..7 %}<i></i>{% endfor -%}
  </div>
</div>

<div class="people">
  {% for person in header.people %}
    <div class="person">
      <h3>{{ person.name }}</h3>
      <h3 class="pronouns">{{ person.pronouns }}</h3>
      <h3 class="title">{{ person.title }}</h3>
      <div class="bio">
        <p>
          {{ person.bio }}
        </p>
      </div>
    </div>
  {% endfor %}
  <div class="person -thanks">
    {# Final "person" is page content #}
    {{ content|raw }}
  </div>
</div>
