{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/main.css', 98) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://js/main-min.js', {group:'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        <div class="container">
            {% block header_navigation %}
            <button class="toggle-nav hamburger">
                <svg width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="30" height="3" fill="#FC4F60"/>
                    <rect y="7.5" width="30" height="3" fill="#FC4F60"/>
                    <rect y="15" width="15" height="3" fill="#FC4F60"/>
                </svg>
            </button>
            <nav class="nav-main">
                <button class="close-nav">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="0.00537109" y="14.1367" width="20" height="2" transform="rotate(-44.7732 0.00537109 14.1367)" fill="#FC4F60"/>
                      <rect x="14.1421" y="15.5562" width="20" height="2" transform="rotate(-135 14.1421 15.5562)" fill="#FC4F60"/>
                    </svg>
                </button>
                <ul>
                  <li><a data-title="Mission" href="/#mission"><span data-title="Mission">Mission</span></a></li>
                  <li><a data-title="Focus Areas" href="/#focus-areas"><span data-title="Focus Areas">Focus Areas</span></a></li>
                  <li><a data-title="Values" href="/#values"><span data-title="Values">Values</span></a></li>
                  <li><a data-title="Leadership" href="/#leadership"><span data-title="Leadership">Leadership</span></a></li>
                  <li><a data-title="Contact" href="/#contact"><span data-title="Contact">Contact</span></a></li>
                </ul>
            </nav>
            {% endblock %}
            <a class="logo" href="{{ home_url }}">
                <img class="logo-full" src="/user/themes/cgre/images/cgre-logo.svg" alt="CGRE logo">
                <img class="logo-small" src="/user/themes/cgre/images/cgre-logo-small.svg" alt="CGRE logo small" aria-hidden="true">
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
    {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="logo">
                <div class="divot"></div>
                <div class="logo-stacked">
                    <img src="/user/themes/cgre/images/cgre-logo-left-aligned.svg" alt="CGRE logo">
                </div>
            </div>
            <div class="block contact">
                <h4 class="divot">contacts</h4>
                <p>
                    6 W 48th Street, 10th Fl<br>
                    New York, NY 10036<br>
                    <a href="mailto:info@cgre.org">info@cgre.org</a>
                </p>
                <p class="privacy">
                    <a href="/privacy-policy">Privacy Policy
                        <svg width="21" height="16" viewBox="0 0 21 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.7071 8.70711C21.0976 8.31658 21.0976 7.68342 20.7071 7.29289L14.3431 0.928932C13.9526 0.538408 13.3195 0.538408 12.9289 0.928932C12.5384 1.31946 12.5384 1.95262 12.9289 2.34315L18.5858 8L12.9289 13.6569C12.5384 14.0474 12.5384 14.6805 12.9289 15.0711C13.3195 15.4616 13.9526 15.4616 14.3431 15.0711L20.7071 8.70711ZM0 9H20V7H0V9Z" />
                        </svg>
                    </a>
                </p>
            </div>
            {# <div class="block newsletter">
                <h4 class="divot">newsletter</h4>
                <form action="">
                    <fieldset class="-two-column">
                        <div class="form-field">
                            <input type="email" name="email" placeholder="Sign up to stay up to date with our news">
                        </div>
                        <div class="form-field">
                            <button class="button">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div> #}
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
